BODY{background-image:url("http://media.gettyimages.com/photos/view-of-a-sncf-highspeed-tgv-train-bar-wagon-at-the-paris-lyon-on-picture-id187746607");
	background-repeat: no-repeat;
 	 background-size:100vw 80vw, auto;}

ul ul {
  display: none;
}

  ul li:hover > ul {
    display: block;
  }
  ul {
  background-color: black;
  position: relative;
  display: inline-table;
    list-style: none;
}

ul li:hover {
    background: #4E7896;

  }
ul li:hover a {
      color: white;
      font-size: 1.2vw;
      font-family: helvetica;
      border:  0.3vw solid white;
    }
  
ul li a {
    display: block; 
    padding: 2.5vw 2.5vw;
    color: white; 
    text-decoration: none;
    font-size: 1.2vw;
    font-family: helvetica;
    border: 0.3vw solid white;
  }
ul ul {
  background: #BF7628;  
  padding: 0;
  position: absolute;
  top: 80%;
}
ul ul li {
    float: none; 
    border-top: 1px solid #ffcc66;
    border-bottom: 1px solid #82FA58;
    position: relative;
}
ul ul li a {
  padding: 1.5vw 2.0vw;
  display: block;
  color: black;
} 
ul ul li a:hover {
  background: #687C29;
}
ul ul ul {
  position: absolute;
  width: 15vw; 
  left: 100%; 
  top:0;
}