BODY{background-color: rgb(80,80,80);
	width: 80vw;
	margin: 0 auto;}
#box_haut{background-color: rgb(144,144,144);
			float: left;
			width: 80vw;
			height: 8vw;
			margin-top: 2vw;
			border-radius: 0.8vw;
			box-shadow: 0.5vw 0.5vw 0.5vw black;
			}
#img_dayof{float: left;
			margin-top: 0.8vw;
			margin-left: 0.8vw;  
			height: 6vw;}
#img_loupe{float: left;
			margin-top: 0.5vw;
			margin-left: 38vw;
			height: 9vw; 

}
#div_reload_close{
			float: left;
			margin-top: 0.5vw;
			margin-left: -1.5vw;
			width: 3vw;
			height: 10vw;
			}
#img_reaload{height: 1vw;
			margin-top: 0vw;
			margin-left: 2vw;
			float: left;}
#img_close{height: 1vw;
			margin-top: 5.5vw;
			margin-left: -1vw;
			float: left;}
#box_images_left{
	background-color: rgb(144,144,144);
	float: left;
	margin-left: 2vw;
	margin-top: 1vw;
	width:8vw;
	height: 24vw;
	border-radius: 0.8vw;
	box-shadow: 0.5vw 0.5vw 0.5vw black;
	padding-top: 1vw;
}
#box_images_left img{
		float: left;
		width: 4vw;
		margin-left: 1.8vw;
		margin-top: 0.5vw;
}
#box_images_left img:hover, #img_oeil{
	border:	0.3vw solid red;
	border-radius: 0.3vw;
}
#box_images_center{
	background-color: rgb(144,144,144);
	float: left;
	margin-left: 2vw;
	margin-top: 1vw;
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;
	width:55vw;
	height: 30vw;
	border-radius: 0.8vw;
	box-shadow: 0.5vw 0.5vw 0.5vw black;
}
#img_42{
		height: 30vw;
		width: 55vw;
		}
#box_images_right{
	background-color: rgb(144,144,144);
	float: left;
	margin-left: 2vw;
	margin-top: 1vw;
	width:8vw;
	height: 24vw;
	border-radius: 0.8vw;
	box-shadow: 0.5vw 0.5vw 0.5vw black;
	padding-top: 1vw;
}
#img_livre , #img_towel{
		float: left;
		width: 4vw;
		margin-left: 1.8vw;
		margin-top: 0.5vw;
}
#img_mur {
		float: left;
		width: 6.2vw;
		height: 4vw;
		margin-left: 0.8vw;
		margin-top: 0.5vw;
		background-repeat: repeat;
		background-image: url(./resources/brick.jpg);
}
#box_vert_shadow{
	text-shadow: 0.2vw 0.2vw 0.2vw red;
}
#box_vert{
	position: absolute;
	display: block;
	margin-top: 38vw;
	margin-left: 0vw;
	width: 27vw;
	height: 9vw;
	font-family: "Palatino Linotype", sans-serif;
	font-size: 0.9vw;
	background-color: rgb(136,255,137);
	border-radius: 0.8vw;
	padding-left: 1.3vw;
	z-index: 1;
	box-shadow: 0.5vw 0.5vw 0.5vw black;
}
#box_vert_big{
	font-size: 1.5vw;
	font: serif;
}
#box_vert_input{
	width: 20vw;
}
#box_input{
	font-family: serif;
}
#lachaise{
	position: absolute;
	display: block;
	margin-top: 30vw;
	margin-left: 30vw;
	width: 8vw;
	height: 10vw;
}
#lecran{
	position: absolute;
	display: block;
	margin-top: 29vw;
	margin-left: 56vw;
	width: 10vw;
	height: 7vw;
}
